RewriteOptions inherit
# For security reasons, Option followsymlinks cannot be overridden.
#Options +FollowSymLinks
Options +SymLinksIfOwnerMatch

# 50MB  (uncomment on live site )
#php_value post_max_size 52428800 
#php_value upload_max_filesize 80M 
php_value post_max_size 300000000 
php_value upload_max_filesize 300M 


RewriteEngine on

RewriteRule ^404/?$ 404.php [NC,L]

RewriteRule ^/?$ manage_product.php [NC,L]
RewriteRule ^index/?$ manage_product.php [NC,L]

## Product ##
RewriteRule ^manage-product/?$ manage_product.php [NC,L]
RewriteRule ^add-product/([A-Za-z0-9-_]+)/?$ add_product.php?mode=$1 [NC,L]
RewriteRule ^add-product/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ add_product.php?mode=$1&id=$2 [NC,L]


## Sale ##
RewriteRule ^manage-sales/?$ manage_sales.php [NC,L]
RewriteRule ^add-sales/([A-Za-z0-9-_]+)/?$ add_sales.php?mode=$1 [NC,L]
RewriteRule ^add-sales/([A-Za-z0-9-_]+)/([A-Za-z0-9-_]+)/?$ add_sales.php?mode=$1&id=$2 [NC,L]
